.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
web-scraping-env
.pre-commit-config.yaml

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
