# Folders
.ipynb_checkpoints/
output/
web/
.vscode/
apache-spark/raw-data/
.history/
beamenv
engenv
kafka-data
zookeeper-data

# Files 
.mypy_cache
web-scraping-env
.pre-commit-config.yaml
*.json
*.vsix
*.rar
*.csv
*.txt

__pycache__
*.pid
*.cfg
*.db
*.log

!apache-beam/raw-data/sample_casos_dengue.txt
!apache-beam/raw-data/sample_chuvas.csv
!apache-beam/processed-data/result-00000-of-00001.csv
