.vscode/
.mypy_cache
web-scraping-env
.pre-commit-config.yaml
*.json
.history/
*.vsix
output/
web/

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
